<div class="w-full flex flex-col md:flex-row gap-5">
  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5">
    {% render 'icon', icon: 'icon-worldwide-delivery' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-medium leading-[18px] uppercase ">Worldwide delivery</span>
      <span class="text-xs font-light leading-[16px]">EU, UK and USA</span>
    </div>
  </div>

  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5">
    {% render 'icon', icon: 'icon-quality-control' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-medium leading-[18px] uppercase ">Quality control</span>
      <span class="text-xs font-light leading-[16px]">Each order is double checked before production</span>
    </div>
  </div>

  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5">
    {% render 'icon', icon: 'icon-audited-factory' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-medium leading-[18px] uppercase ">Audited Factory</span>
      <span class="text-xs font-light leading-[16px]">Our factories areaudited to meet SMETA or BSCl standards</span>
    </div>
  </div>
</div>
