<div class="w-full flex flex-col md:flex-row gap-5">
  <div class="bg-[#E7E7E7] rounded-[5xp] px-[22px] py-[19px] flex items-center gap-5">
    {% render 'icon', icon: 'icon-worldwide-delivery' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-semibold leading-[18px] uppercase ">Worldwide delivery</span>
      <span class="text-xs font-light leading-[16px]">EU, UK and USA</span>
    </div>
  </div>
</div>
