

<div class="mt-4  bg-[#F2F2F2] overflow-hidden">
  <div
    id="size-fit"
    class="w-full flex justify-between items-center px-3 flex-row  text-sm  tracking-[1.4px] bg-[#F2F2F2] h-9 text-left pl-4"
  >
    <span class="uppercase">Size & Fit</span>
    <span class="arrow-icon-rotate">
      {% render 'icon', icon: 'icon-arrow' %}
    </span>
  </div>

  <div class="hidden px-4 py-5 bg-[#F2F2F2] text-xs  font-normal tracking-[1.2px]" id="size-fit-content">
    {{ product.metafields.custom.size_fit | metafield_tag }}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let open = false;
    let btnId = 'size-fit';
    let contentId = 'size-fit-content';

    let btn = document.querySelector('#' + btnId);
    let content = document.querySelector('#' + contentId);
    let arrowIcon = btn.querySelector('.arrow-icon-rotate');

    if (btn && content) {
      btn.addEventListener('click', function () {
        content.classList.toggle('hidden');

        arrowIcon.classList.toggle('rotate-360');
      });
    }
  });
</script>
