<div>
  <p class="text-[26px] md:text-[72px] md:leading-[72px] font-Montaga font-normal leading-[32px] text-center">
    “Edited to essence,<br>
    made to endure.<br>
    Minimal design with assured delivery for modern boutiques and online labels. ”
  </p>

  <div class="flex flex-col  gap-[10px] md:gap-[30px]">
    <div class="bg-[#D9D9D9] w-full h-[42px] md:h-[100px] flex items-center justify-center text-base md:text-[36px] ">
      We offer worldwide delivery services.
    </div>
    <div class="bg-[#D9D9D9] w-full h-[42px] md:h-[100px] flex items-center justify-center text-base md:text-[36px] ">
      We have the strictest quality control.
    </div>
    <div class="bg-[#D9D9D9] w-full h-[42px] md:h-[100px] flex items-center justify-center text-base md:text-[36px] ">
      We have factories audited to meet SMETA or BSCI standards.
    </div>
    <div class="bg-[#D9D9D9] w-full h-[42px] md:h-[100px] flex items-center justify-center text-base md:text-[36px] ">
      We have the most exclusive designs and a wide variety of styles.
    </div>
    <div class="bg-[#D9D9D9] w-full h-[42px] md:h-[100px] flex items-center justify-center text-base md:text-[36px] ">
      We offer high-quality exclusive custom services.
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Us",
  "settings": [],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}
