<style>
  .discover-image-wrapper {
    overflow: hidden;
    border-radius: 5px;
  }

  .discover-image-wrapper img {
    transition: transform 0.5s ease;
  }

  .discover-image-wrapper:hover img {
    transform: scale(1.1);
  }
</style>

<div class="w-full px-[15px] md:px-[53px] mt-[30px] mb-[45px] flex flex-col gap-[30px] md:gap-[42px]">
  <h3 class="m-0 text-xl font-semibold leading-normal uppercase tracking-[2px]">
    {{ section.settings.title }}
  </h3>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[30px] md:gap-[36px] ">
    {% for block in section.blocks %}
      <a href="{{ block.settings.url }}">
        <div class="flex flex-col  transition-transform duration-350ms ease-out origin-center {% if section.settings.image_style == 'style-2' %} relative {% endif %}">
          <div class="discover-image-wrapper">
            {%
              render 'alp-responsive-image',
              image: block.settings.image,
              image_mobile: block.settings.image,
              alt: block.settings.title,
              class:
              section.settings.image_style == 'style-1'
              | append: ' aspect-[430/573] md:aspect-1/1'
              | default: ' aspect-1/1 md:aspect-1/1'
            %}
          </div>
          <div class="flex flex-col {% if section.settings.image_style == 'style-2' %} absolute top-0 left-0 w-full h-full flex items-center justify-center {% endif %}">
            <span class="text-lg font-normal font-Montaga leading-[18px] uppercase mt-[12px] md:mt-[30px]">
              {{ block.settings.title }}
            </span>
            <span class="text-xs font-light leading-[16px] mt-[6px] md:mt-[20px]">
              {{ block.settings.description }}
            </span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Index Discover",
  "blocks": [
    {
      "type": "discover",
      "name": "Discover",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "Image Position",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Index Discover"
    }
  ]
}
{% endschema %}
