<div class="w-full flex flex-col md:flex-row gap-5 px-[14px] mt-[20px] md:mt-[30px] md:px-[53px] mb-[30px] md:mb-[70px]">
  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5 md:w-1/3 ">
    {% render 'icon', icon: 'icon-worldwide-delivery' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-semibold leading-[18px] uppercase ">Worldwide delivery</span>
      {% comment %} <span class="text-xs font-light leading-[16px]">EU, UK and USA</span> {% endcomment %}
    </div>
  </div>

  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5 md:w-1/3 ">
    {% render 'icon', icon: 'icon-quality-control' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-semibold leading-[18px] uppercase ">Quality control</span>
      {% comment %} <span class="text-xs font-light leading-[16px]">Each order is double checked before production</span> {% endcomment %}
    </div>
  </div>

  <div class="bg-[#E7E7E7] rounded-[5px] px-[22px] py-[19px] flex items-center gap-5 md:w-1/3 ">
    {% render 'icon', icon: 'icon-audited-factory' %}
    <div class="flex flex-col gap-[6px]">
      <span class="text-base font-semibold leading-[18px] uppercase ">Audited Factory</span>
      {% comment %} <span class="text-xs font-light leading-[16px]">Our factories areaudited to meet SMETA or BSCl standards</span> {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Advantages",
  "settings": [
  
  ],
  "presets": [
    {
      "name": "Advantages"
    }
  ]
}
{% endschema %}